<!DOCTYPE html>
<html lang="en">
<head>
  <title>SIP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet"  href="/static/style.css">
  <script src="/static/script.js"></script>
  
</head>
<body>
  
  <form id="form-id" style="display:none" method="post" action="fillForm">
      {% csrf_token %}  
    <input type="hidden" style="display:none" id="formNum" name="formNum" value="0">
  </form>
<div class="container-fluid" >
  <div class="row" id='row_div'>

    {% for company in companySet  %}
  
    <div class="col-sm-3 ">
      <div class="panel panel-info ">
          <div class= "company_name panel-heading hd">
            {{ company.name }}
          </div>
          <div class="description panel-body ">
           
            {{ company.position }} </br>
            {{ company.location }} </br>
            {{ company.stipend }}/month </br>
            Number of positions : {{ company.no_of_position }} </br>
            
          
          </div>

        <div class="panel-footer detail-container" align="center">
          <button type="button" onclick="change( '{{ company.name|escapejs }}' , '{{ company.description|escapejs }}' ,'{{ company.id }}'  )" class="btn btn-primary "  data-toggle="modal" data-target="#detailModal" >Details</button>  
        </div>
      </div>
        </div>
      {% endfor %}
   
  </div>
  <button type="button" onclick="hi()">Click</button>

</div>
<div id="detailModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="modalTitle">Modal Header</h4>
        </div>
        <div class="modal-body" id="modalBody">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button id = 'mbtn' onclick="document.getElementById('form-id').submit();" companyid='0' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          
        </div>
      </div>




</body>
